.link-card {
  text-decoration: none;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  /* height: 6rem; */
  /* width: ; */
  /* border-radius: 1px; */
  /* flex: auto; */
  margin-top: 1rem;
  align-items: center;
}
.card {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 3rem;
  border-color: rgba(0, 0, 0, 0.685);
  border-style: none dashed solid dashed;
  border-width: 3px 3px 9px 3px;
  background-color: rgba(68, 65, 85, 0.507);
  justify-content: space-around;
  /* border:darkgray; */
}
.card-title {
  color: rgb(255, 234, 234);
  font-family: "Arial Narrow Bold", sans-serif;
  align-content: center;
  margin-top: 10px;
  /* background-color: rgba(38, 103, 187, 0.459); */
  border-radius: 1rem;
}
.card-code {
  color: rgb(255, 234, 234);
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-top: -6px;
  /* background-color: rgba(38, 103, 187, 0.459); */
  border-radius: 6rem;
}

.card-region {
  color: rgb(255, 234, 234);

  font-family: "Arial Narrow Bold", sans-serif;
  font-size: x-large;
  font-weight: bold;
  margin-top: -1px;
  /* background-color: rgba(38, 103, 187, 0.459); */
  border-radius: rem;
}
