.details {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: xx-large;
  color: rgb(252, 252, 252);
  border-radius: 1rem;
  background-color: rgba(19, 48, 87, 0.459);
  justify-content: space-around;
}
